body{
    background-color: black;
    /*display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;*/
    height:95vh ;
    margin: 0px;
    width:100vw;
}
header{
    text-align: center;
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}


#mid{
    display: flex;
    flex-direction: row;
    justify-content:center;

}

#menu{
    background-color: rgb(37, 37, 37);
    width:100%;
    height: 40px;
    border-bottom-right-radius:10px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
}
#menu button{
    background-color: brown;
    border-style: none;
    padding: 5px;
    border-radius: 5px;
    width: 120px;
    transition: 0.5s;
}
#menu button:hover{
    background-color: rgb(231, 87, 43);
    border-style: none;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    width: 140px;
    cursor: pointer;
}

#tale{
    overflow-y:scroll ;
    width: 100%;
    height: 100%;
    background-color: rgb(49, 49, 49);
    padding: 15px;
    border-radius: 25px;
    border-top-left-radius: 0px;

}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 550px;
    
}
#info *{
    margin: 5px;
}

#foot{
    position: fixed;
    bottom: 0%;
    text-align: center;
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}
h2,p{
    color: rgb(206, 232, 255);
    margin: 4px;
}
